
<section class="chartist">
  <div class="button-wrapper">
      <button type="button" class="btn btn-info" (click)="getPreviousDateStats()">Prev</button> &nbsp; &nbsp; &nbsp;
      <button type="button" class="btn btn-info">{{ selectedDate | date:'EE, MMM d, yyyy'}}</button> &nbsp; &nbsp; &nbsp;
      <button [disabled]="isFutureDate" type="button" class="btn btn-info" (click)="getNextDateStats()"> Next</button>

    </div>
    <br>
  <div class="row">
    <div class="col-md-2 ">
      <ba-card cardTitle="Turbine Info" baCardClass="with-scroll">
        <h5 translate>{{turbineName}}</h5>
        <div class="imageTu">
      <img class="img-turbine" ng-src="assets/img/app/asset_image.gif" src="assets/img/app/asset_image.gif"><br><br>
         <span class="logo-text">Power Generated&nbsp;&nbsp;{{powerGenerated}}</span><br>
          <span class="logo-text">Capacity Factor&nbsp;&nbsp;{{capacityFactor}}</span><br>
          <span class="logo-text">Total warnings&nbsp;&nbsp;{{noOfWarnings}}</span><br>
          <span class="logo-text">Total critical events &nbsp;&nbsp;{{noOfCriticalEvents}}</span>
        </div>
      </ba-card>
    </div>
    <div  #chartParentDiv class="col-md-5" (window:resize)="onResize($event)">
      <ba-card cardTitle="Vibration Analysis" baCardClass="with-scroll">
            <chart [options]="vibrationOptions" (load)="saveVibrationChart($event.context)" class="chart-container">
            </chart>
      </ba-card>
    </div>

    <div  class="col-md-5" (window:resize)="onResize($event)">
      <ba-card cardTitle="Power Analysis" baCardClass="with-scroll">
          <chart [options]="powerOptions" (load)="savePowerChart($event.context)" class="chart-container">
          </chart>
      </ba-card>
    </div>
  </div>

</section>
