@import "../../../../theme/sass/conf/conf";

:host /deep/ {

  .popular-app-img {
    width: 260px;
    position: absolute;
    transform: translateY(-50%) translate(-50%);
    top: 50%;
    left: 50%;

    .logo-text {
      display: inline-block;
      margin: 10px;
      font-size: 26px;
      color: $content-text;
    }
  }
  .stacked-bar .ct-bar {
    stroke-width: 30px;
  }
}


.imageTu{
  width:100%;
  height:340px;
  // background-size: cover;
}

.img-turbine{
  width:100%;
  height: 260px;
  background-size: cover;
}
.button-wrapper{
  margin: auto !important;
  width: 100%;
  text-align: center;
}
